@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D8DFE8;
  font-family: 'Inter', sans-serif;
}

.logoSecaoTexto {
  width: 2vw;
  height: 6vh;
}

header {
  height: 90vh;
  padding: 0.5vw 3vw;
}

main {
  display: flex;
  width: 100%;
  padding: 5vh;
  align-items: center;
  justify-content: space-between;
}


.secaoTexto {
  display: flex;
  width: 60vw;
  height: 90vh;
  padding: 2vw;
  flex-direction: column;
  align-items: center;
}

.areaTexto #decodificar {
  width: 50vw;
  height: 65vh;
  background-color:  #D8DFE8;
  padding: 15px;
  text-align: left;
  border: none;
  border-radius: 20px;
  outline: none;
  resize: none;
  font-size: 1.25rem;
  overflow-y: auto;
  font-family: 'Inter', sans-serif;
}

#aviso {
  font-size: 0.8vw;
  padding: 1vw;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 1vw;
  font-weight: bold;
  color: rgb(16, 47, 146);
  cursor: pointer;
  border: 0.1vw solid rgb(16, 47, 146);
  border-radius: 1.2vw;
  background-color: #D8DFE8;
  width: 15vw;
  height: 7vh;
  transition: .5s;
}

.buttons {
  width: 35vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#criptografar:hover {
  background-color: rgb(16, 47, 146);
  color: #D8DFE8;
}

#descriptografar:hover,
#copy:hover {
  background-color: #c2c8d1;
}

.buttonResult {
  display: none;
}

.resultMessage{
  display: none;
}

.lateralMenu {
  background-color: #fff;
  width: 25vw;
  height: 90vh;
  border-radius: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notMessage {
  width: 22vw;
  height: 42vh;
  padding-left: 2vw;
}

h1, p {
  text-align: center;
  padding: 1.5vw;

}







